@tailwind base;
@tailwind components;
@tailwind utilities;

#menu .router-link-active.router-link-exact-active{
    @apply text-slate-900 dark:text-white
}
::selection {
    @apply bg-primary text-white;
  }

/* Cursor styles start */
*{
    cursor: none;
}


.cursor {
  @apply rounded-full border-2 border-slate-300 dark:border-slate-800 transition duration-300 ease-out fixed w-12 h-12;
  

  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
    @apply w-2 h-2 rounded-full bg-primary opacity-50 fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.cursorhover {
  background-color: red!important;
  @apply opacity-50;
}

.cursorinnerhover {
  @apply w-6 h-6 opacity-50;
}

/* Cursor styles end */